@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  box-sizing: border-box;
}

ol {
  padding: 0;
}

body {
  padding: 5px 60px;
  max-width: 1900px;
  margin: 0 auto;
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
}

h2 {
  font-size: 4rem;
}

input {
  width: 100%;
  font-size: 1.2rem;
  padding: 20px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 15px;
  color: white;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

input:focus {
  outline: none;
  transform: scale(0.98);
}

input::placeholder {
  color: white;
}

.card-grid {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 5px solid white;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.card > p {
  padding: 30px;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.1rem;
}

ol h3 {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.4rem;
}

.card > img {
  width: 100%;
  max-height: 200px;
}

.smallContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Arial";
  font-size: 1rem;
}

.small {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  text-decoration: none;
  color: black;
  width: 250px;
  background-color: white;
  border-radius: 15px;
}

.small > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  text-decoration: none;
  color: black;
}

.extraSmall {
  width: 60px;
  height: 60px;
}

.extraSmall > img {
  width: 100%;
}

.notFoundCard {
  padding: 5px;
  margin: 5px 0;
  background: rgba(252, 116, 107, 0.5);
  border: 5px solid white;
  border-radius: 10px;
}

.notFoundCard span {
  text-transform: capitalize;
  font-weight: bold;
}

.notFoundCard > p {
  margin-left: 10px;
}

@media only screen and (max-width: 800px) {
  body {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
 
    html {
      font-size: 12px;
    }
}
